@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* Apply to the entire page */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark track */
}

::-webkit-scrollbar-thumb {
  background-color: #555;    /* Dark gray thumb */
  border-radius: 6px;
  border: 2px solid #1e1e1e; /* Padding with track color */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Lighter on hover */
}


.container {
  background-color: #000000;
  width: 100%;
}

.nav {
  display: flex;
  padding: 10px;
  gap: 10px;
  color: white;
  justify-content: space-between;
}

.hamburger {
    display: none;
}

.home-searchbar{
    display: flex;
    gap: 10px;
}

.search-bar {
  display: flex;
  gap: 10px;
  background-color: #1e1e1e; /* dark background */
  border-radius: 20px;
  padding: 15px 15px;
  width: fit-content;
  color: #fff;
  height: 50px;
  position: relative;
}

.search-bar img {
    padding: 4px 0;
}

.search-bar > .separator {
    position: absolute;
    right: 60px;
    bottom: 8px;
}

#searchBox {
    background: transparent;
    border: none;
    width: 250px;
    color: white;

}

.separator{
    width: 1px;
    height: 25px;
    background-color: #b3b3b3;
    margin-top: 10px;
}

.home {
  background-color: #1f1f1f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.nav-buttons{
    display: flex;
    gap: 15px;
    font-size: 12px;
}

.nav-btn {
    border: none;
    background: transparent;
    color: #b3b3b3;
    cursor: pointer;
    padding: 10px 0;
}

.nav-btn:hover{
    font-weight: 900;
    font-size: 13px;
}

.install-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: bolder;
    font-weight: bolder;
}

.main-content{
    display: flex;
    gap: 10px;
    padding: 5px;
    height: 90vh;
}

.left, .right {
    background-color: #121212;
    color: white;
    padding: 15px;
}

.left h1 {
    font-size: 16px;
    font-weight: 700;
}

.left {
    width: 25%;
}

.right{
    width: 75%;
    background-image: linear-gradient(#1f1e1e,#212121);
    position: relative;
}

.right > h2 {
    font-size: 16px;
}

.lib-title {
    display: flex;
    justify-content: space-between;
}

.close {
    display: none;
}

.song-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0 35px;
    gap: 10px;
    overflow-y: auto;
    height: 60vh;
}

.song-card{
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.card-hover-play img {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 50px;
    opacity: 0;
}

.song-card:hover{
    transition: background-color 0.5s ease-in-out;
    background-color:#000000
}

.song-card:hover .card-hover-play img {
    opacity: 1;
}

.song-card>img {
    width: 150px;
    height: 150px;
    background-size: contain;
    border-radius: 5px;
}

.playlist {
    padding: 40px 0;
}

.songPlayList{
    overflow-y: scroll;
    max-height: 60vh;
}

.playlist li {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
}

.main-seeker {
    background-color: rgb(50, 35, 50);
    border: 1px solid rgb(88, 86, 86);
    height: 60px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    color: white;
    width: 70vw;
    font-size: 14px;
    padding: 0 15px;
}

.seek-bar {
    height: 2px;
    width: 98%;
    background-color: white;
    position: absolute;
    bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.seek-circle{
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.songInfo, .songTime {
    margin-bottom: 20px;
    padding: 5px;
    max-width: 250px;
}

/* media queries */

@media (max-width: 1400px){
    .left{
        position: absolute;
        z-index: 1;
        left: -120%;
        top: 0;
        width: 410px;
    }
    .right{
        width: 100vw;
    }
    .main-seeker {
        width: 92%;
        font-size: 12px;
        bottom: 20px;
    }
    .songInfo{
        width: 100px;
        height: 50px;
    }
    .seek-bar {
        width: 90%;
    }

    .home-searchbar, .nav-right {
        display: none;
    }
    .logo{
        position: relative;
    }
    .hamburger{
        display: block;
    }
    .close {
        display: block;
    }
    .main-content{
        height: 90vh;
    }
    
}

@media (max-width:1000px){
    .song-container{
        display: block;
        margin: 0;
    }
    .song-card img {
        width: 80vw;
        height: 50vh;
    }
}